<!--The Modal-->
<div id="pricing-modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content" style="height: 95%">
        <span class="close cloze-p" style="color: #c7254e; opacity:1;">&times;</span>
        <h4 class="head-modal">Our Pricing</h4>
        <hr>
        <div style="width: 100%;box-sizing: border-box;overflow-y: scroll;">
            <div class="columns">
                <ul class="price">
                    <li class="pricing-header">Basic</li>
                    <li class="grey">$ 9.99 / year</li>
                    <li>10GB Storage</li>
                    <li>10 Emails</li>
                    <li>10 Domains</li>
                    <li>1GB Bandwidth</li>
                    <li class="grey"><a href="#" class="button">Sign Up</a></li>
                </ul>
            </div>

            <div class="columns">
                <ul class="price">
                    <li class="pricing-header" style="background-color:#4CAF50">Pro</li>
                    <li class="grey">$ 24.99 / year</li>
                    <li>25GB Storage</li>
                    <li>25 Emails</li>
                    <li>25 Domains</li>
                    <li>2GB Bandwidth</li>
                    <li class="grey"><a href="#" class="button">Sign Up</a></li>
                </ul>
            </div>

            <div class="columns">
                <ul class="price">
                    <li class="pricing-header">Premium</li>
                    <li class="grey">$ 49.99 / year</li>
                    <li>50GB Storage</li>
                    <li>50 Emails</li>
                    <li>50 Domains</li>
                    <li>5GB Bandwidth</li>
                    <li class="grey"><a href="#" class="button">Sign Up</a></li>
                </ul>
            </div>

        </div>
    </div>

</div>

