<!--The Modal-->
<div id="pricing-modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close cloze-p" style="color: #c7254e; opacity:1;">&times;</span>
        <h4 class="head-modal">Our Pricing</h4>
        <hr>
        <article style="width: 100%">
            <div class="row">
        <div class="col-md-6">
            <button data-toggle="collapse" data-target="#pics" class="btn btn-default">Photography Packages</button>
            <ol id="pics" class="collapse list-group list-unstyled">
                <p>Base Price: 20.00</p>
                <li class="list-group-item">Be magical for whoever sits, because each has been acquired with bliss.</li>
            </ol>
        </div>
        <div class="col-md-6">
            <button data-toggle="collapse" data-target="#vids" class="btn btn-default">Video Packages</button>
            <div id="vids" class="collapse">
                Everything we do is connected with meditation: moonlight, trust, enlightenment, totality.
            </div>
        </div>
            </div>
        </article>
    </div>

</div>