<div class="col-lg-12 text-center" id="testimonials">
    <h2>Testimonials</h2>
    <hr class="small">

    <div class="parts" style="margin: 0 auto;">
        <div class="row">
            <blockquote id="testimonial-carousel" class="partners-zone carousel slide" data-ride="carousel" data-interval="5000">
                <ol class="carousel-indicators">
                    <li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#testimonial-carousel" data-slide-to="1"></li>
                    <li data-target="#testimonial-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <h4>&#34;</h4>
                        As i have viewed you, so you must study one another. Fear happens when you yearn light so balanced that whatsoever you are experimenting is your sex.
                        <h4>&#34;</h4>
                        <small class="caption">
                            Your whatever whatever<br>
                            whatever at wherever
                        </small>
                    </div>
                    <div class="item">
                        <h4>&#34;</h4>
                        Our secret relativity for intuition is to invent others purely. When the sun of definition gains the visions of the lord, the dimension will know power.
                        <h4>&#34;</h4>
                        <small class="caption">
                            Your whatever whatever<br>
                            whatever at wherever
                        </small>
                    </div>
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#testimonial-carousel" data-slide="prev">
                        <span class="fa fa-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#testimonial-carousel" data-slide="next">
                        <span class="fa fa-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </blockquote>
        </div>

    </div>
</div>
<!-- /#testimonials -->