<!-- Header -->
<header id="top" class="header text-secondary">
    <div class="text-vertical-center">
        <h1>{{{title}}}<span class="circle-tm">&#8482;</span></h1>
        <h3>Photography, Videography &amp; Makeup</h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
    </div>
</header>

<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Use a picture. It's worth a thousand words!</h2>
                <p class="lead"><a href="#philosophy" class="text-primary no-deco">The heart of {{{title}}}'s Philosophy</a>.</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Why {{{title}}}?</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-camera fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Photography</strong>
                            </h4>
                            <p>We are devoted to creating durable images and lasting impressions. For years photography has been the best mode of immortalising memories, and we pride ourselves with immortalising the best memories.</p>
                            <a href="#" class="btn btn-light">Learn More</a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-video-camera fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Videography</strong>
                            </h4>
                            <p>Life is a continuous stream of events. Like poetry, getting the right moments and recalling them as they are requires skill. That is where {{{title}}} comes in. We tell your story as it happened, as it is.</p>
                            <a href="#" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                    <!--<div class="clearfix"></div>-->
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-youtube-play fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Tv &amp; Mixed Media</strong>
                            </h4>
                            <p>Not only are we specialists in professional content, but also we specialize in making content for screens. An example of this is our visuals on CKC tv.</p>
                            <a href="#" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-magic fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Make Up</strong>
                            </h4>
                            <p>We believe in making you glow in your own complexion rather than making you just fair</p>
                            <a href="#" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Callout -->
<aside class="callout">
    <div class="text-vertical-center">
        <h1>Tailor Made Services</h1>
        <h4>How you want it, when you want it.</h4>
    </div>
</aside>

<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Insights</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a id="philosophy">
                                <img class="img-portfolio img-responsive" src="/images/insights.JPG" style="height:85vh;width:100%; object-fit:cover;">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <blockquote class="text-left the-zen">
                            Yes, the politics of facilitating saints is often pictorial, but may it never be called a harbinger of narcissism, for what more is there to life than <b style="color:#2a88ff" class="lead stand-out">inspiration</b>, <b style="color:#3dae9d" class="lead stand-out">immortalization</b>,
                            <b style="color:#c97251" class="lead stand-out">self actualization</b> and <b style="color:#ff7900" class="lead stand-out">sacrifice</b>, summed up beautifully in a vessel called <b style="color:#7c0300" class="lead stand-out">Love</b>, upon which our huge volume of
                            clients is tightly knit.
                            Creating the best pictorial impressions goes beyond just the <b style="text-decoration:line-through;text-decoration-color:#e5e5e5" class="lead text-muted stand-out">camera</b>, or <b style="text-decoration:line-through;text-decoration-color:#e5e5e5"
                                                                                                                                                                                                                   class="lead text-muted stand-out">makeup</b> or <b
                                style="text-decoration:line-through;text-decoration-color:#e5e5e5" class="lead text-muted stand-out">setting</b>. It embodies the <b style="color:#164284" class="lead stand-out">self</b>, seeking substantial <b style="color:#c90400" class="lead stand-out">answers</b>
                            to make serene all the intricacies of <b style="color:#3dae9d" class="lead stand-out">nature</b>, embracing today and saying <b style="color:#333;" class="bridge">"Yes I have problems, but they will not take this brief moment away from me-- for I am happy!"</b> It travels
                            with <b style="color:#761c19" class="lead stand-out">awareness</b>, that one day in this place, one shall <b style="color: #ff7900;" class="lead stand-out">unwind</b> and <b style="color:#3dae9d" class="lead stand-out">resort</b> to the very <b style="color:#2a88ff"
                                                                                                                                                                                                                                                                                 class="lead stand-out">moment</b>
                            one so carelessly revered.
                            It is for these seemingly exhausting <b style="color:#164" class="lead stand-out">epiphanies</b> that we <b style="color:#ff7900" class="lead stand-out">dedicate</b> our lives to make the <b style="color:#c90400" class="lead stand-out">best</b> out of every moment.
                            <br><em class="lead stand-out">The photographer's job is to freeze time, and the makeup artist's is to create effects-- a stroke at a time.<br>
                            <small class="pull-right">--- The Zen of Qlimax</small>
                        </em>
                        </blockquote>
                    </div>
                </div>
                <!-- /.row (nested) -->
                <!--<a href="#" class="btn btn-dark">View More Items</a>-->
            </div>
            <!-- /.col-lg-10 -->

            <div class="col-lg-12 text-center" id="testimonials">
                <h2>Testimonials</h2>
                <hr class="small">

                <div class="parts" style="margin: 0 auto;">
                    <div class="row">
                        <blockquote id="testimonial-carousel" class="partners-zone carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#testimonial-carousel" data-slide-to="1"></li>
                                <li data-target="#testimonial-carousel" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <h4>&#34;</h4>
                                    As i have viewed you, so you must study one another. Fear happens when you yearn light so balanced that whatsoever you are experimenting is your sex.
                                    <h4>&#34;</h4>
                                    <small class="caption">
                                        Your whatever whatever<br>
                                        whatever at wherever
                                    </small>
                                </div>
                                <div class="item">
                                    <h4>&#34;</h4>
                                    Our secret relativity for intuition is to invent others purely. When the sun of definition gains the visions of the lord, the dimension will know power.
                                    <h4>&#34;</h4>
                                    <small class="caption">
                                        Your whatever whatever<br>
                                        whatever at wherever
                                    </small>
                                </div>
                            </div>
                        </blockquote>
                    </div>

                </div>
            </div>
            <!-- /#testimonials -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Call to Action -->
<aside class="call-to-action bg-primary" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Flexible Pricing</h3>
                <a href="#pricing-toggle" class="btn btn-lg btn-dark" id="pricing-toggle">Learn More</a>

                <!--Trigger/Open Contact Modal-->
                <a href="#contact-toggle" id="contact-toggle" class="btn btn-lg btn-light toggle">Contact Us!</a>
                {{> contactmodal }}
                {{> pricingmodal }}

            </div>
        </div>
    </div>
</aside>

<!-- Map -->
<section class="map">
    <div id="map"></div>
</section>


