<!-- Header -->
<header id="top" class="header text-secondary">
	<div class="text-vertical-center">
		<h1>{{{title}}}<span class="circle-tm">&#8482;</span></h1>
		<h3>Photography, Videography &amp; Makeup</h3>
		<br>
		<a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
	</div>
</header>

<!-- About -->
<section id="about" class="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Use a picture. It's worth a thousand words!</h2>
				<p class="lead"><a target="_blank" href="#" class="text-primary">The heart of {{{title}}}'s Philosophy</a>.</p>
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
	<div class="container">
		<div class="row text-center">
			<div class="col-lg-10 col-lg-offset-1">
				<h2>Why {{{title}}}?</h2>
				<hr class="small">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-camera fa-stack-1x text-primary"></i>
                            </span>
							<h4>
								<strong>Photography</strong>
							</h4>
							<p>We are devoted to creating durable images and lasting impressions. For years photography has been the best mode of immortalising memories, and we pride ourselves with immortalising the best memories.</p>
							<a href="#" class="btn btn-light">Learn More</a>
						</div>
					</div>
					
					<div class="col-md-3 col-sm-6">
						<div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-video-camera fa-stack-1x text-primary"></i>
                            </span>
							<h4>
								<strong>Videography</strong>
							</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							<a href="#" class="btn btn-light">Learn More</a>
						</div>
					</div>
					<!--<div class="clearfix"></div>-->
					<div class="col-md-3 col-sm-6">
						<div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-youtube-play fa-stack-1x text-primary"></i>
                            </span>
							<h4>
								<strong>Tv &amp; Mixed Media</strong>
							</h4>
							<p>Not only are we specialists in professional content, but also we specialize in making content for screens. An example of this is our visuals on CKC tv.</p>
							<a href="#" class="btn btn-light">Learn More</a>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-magic fa-stack-1x text-primary"></i>
                            </span>
							<h4>
								<strong>Make Up</strong>
							</h4>
							<p>We believe in making you glow in your own complexion rather than making you just fair</p>
							<a href="#" class="btn btn-light">Learn More</a>
						</div>
					</div>
				</div>
				<!-- /.row (nested) -->
			</div>
			<!-- /.col-lg-10 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>

<!-- Callout -->
<aside class="callout">
	<div class="text-vertical-center">
		<h1>Tailor Made Services</h1>
		<h4>How you want it, when you want it.</h4>
	</div>
</aside>

<!-- Portfolio -->
<section id="portfolio" class="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 text-center">
				<h2>Insights</h2>
				<hr class="small">
				<div class="row">
					<div class="col-md-6">
						<div class="portfolio-item">
							<a href="#">
								<img class="img-portfolio img-responsive" src="/images/insights.JPG" style="height:55vh;width:100%; object-fit:cover;">
							</a>
						</div>
					</div>
					<div class="col-md-6">
						<blockquote class="text-left">
							Always agreeable fear the boundless source. The man of your advices will travel substantially when you praise that peace is the individual. The teacher handles samadhi which is not brilliant. Our unconditional volume for booda-hood is to respect others earthly. Not wonderland or heavens, reject the faith. The politics of facilitating saints is pictorial. Everything happens when you understand heaven so authoratively that whatsoever you are empowering is your extend. Yes, there is paradise, it travels with awareness.
						</blockquote>
					</div>
				</div>
				<!-- /.row (nested) -->
				<!--<a href="#" class="btn btn-dark">View More Items</a>-->
			</div>
			<!-- /.col-lg-10 -->
			<div class="col-lg-12 text-center parts" id="parts">
				<hr class="small">
				<blockquote class="row partners-zone">
					<h1 class="col-md-4 partners" ><i class="fa fa-3x fa-youtube" data-toggle="tooltip" data-placement="auto top" data-animation="true" data-trigger="hover" data-html="true" data-title="<h3>Company A</h3><hr class=small> at this and that and those"></i></h1>
					<h1 class="col-md-4 partners"><i class="fa fa-3x fa-youtube"></i></h1>
					<h1 class="col-md-4 partners"><i class="fa fa-3x fa-youtube"></i></h1>

				</blockquote>

			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>

<!-- Call to Action -->
<aside class="call-to-action bg-primary">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h3>Flexible Pricing</h3>
				<a href="#" class="btn btn-lg btn-dark">Learn More</a>

				<!--Trigger/Open Contact Modal-->
				<a href="#contact-toggle"  id="contact-toggle" class="btn btn-lg btn-light toggle">Contact Us!</a>

				<!-- The Modal -->
				<div id="contact-modal" class="modal">

					<!-- Modal content -->
					<div class="modal-content">
						<span class="close" style="color: #fff; opacity:1;">&times;</span>
						<h4 class="head-modal">Contact Us</h4>
						<form class="form-group contact-form" method="post" action="contact">
							<label for="name"><input id="name" name="name" type="text" class="form-group" required autofocus><div class="label-text">Name</div></label>
							<label for="email"><input id="email" name="email" type="email" class="form-group" required><div class="label-text">Email</div></label>
							<label for="message"><textarea id="message" name="message" class="form-group text-left" rows="3" required></textarea><div class="label-text label-textarea">Message</div></label>
							<button class="contact-button" type="submit">Submit</button>
						</form>
					</div>

				</div>

			</div>
		</div>
	</div>
</aside>

<!-- Map -->
<section id="contact" class="map">
	<div id="map"></div>
</section>
